* {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans TC", sans-serif;
  text-decoration: none;
}

.logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 5px 0px 10px;
}
.logo .logo_deco {
  display: flex;
  align-items: center;
  padding: 2px;
}
.logo .logo_deco .circle {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 5px;
}
.logo .logo_deco .circle.yellow {
  background-color: #c39b4e;
}
.logo .logo_deco .circle.red {
  background-color: #B12E26;
}
.logo .logo_deco .circle.green {
  background-color: #3e6332;
}
.logo .logo_deco .deco_pad, .logo .logo_deco .deco_pc {
  display: none;
}
.logo .mos_slogan {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.logo .mos_slogan .logo_img {
  margin: 5px;
  padding: 10px 5px 0px 5px;
}
.logo .mos_slogan .logo_img img {
  width: 3rem;
}
.logo .mos_slogan .logo_txt {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 5px;
  padding: 5px;
}
.logo .mos_slogan .logo_txt h1 {
  font-size: 18px;
  color: #696969;
}
.logo .mos_slogan .logo_txt span {
  display: none;
}

.main .corporate, .main .operate, .main .usual {
  background-color: #F8EFD9;
  border-radius: 10px;
  margin: 20px;
  padding: 4px;
}
.main .corporate .corporate_icon, .main .corporate .operate_icon, .main .corporate .usual_icon, .main .operate .corporate_icon, .main .operate .operate_icon, .main .operate .usual_icon, .main .usual .corporate_icon, .main .usual .operate_icon, .main .usual .usual_icon {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: flex-start;
  grid-template-columns: repeat(3, 1fr);
}
.main .corporate .corporate_icon .card, .main .corporate .operate_icon .card, .main .corporate .usual_icon .card, .main .operate .corporate_icon .card, .main .operate .operate_icon .card, .main .operate .usual_icon .card, .main .usual .corporate_icon .card, .main .usual .operate_icon .card, .main .usual .usual_icon .card {
  box-sizing: border-box;
  width: 96px;
  height: 96px;
  padding: 3px;
  margin: 10px;
}
.main .corporate .corporate_icon .card:hover, .main .corporate .operate_icon .card:hover, .main .corporate .usual_icon .card:hover, .main .operate .corporate_icon .card:hover, .main .operate .operate_icon .card:hover, .main .operate .usual_icon .card:hover, .main .usual .corporate_icon .card:hover, .main .usual .operate_icon .card:hover, .main .usual .usual_icon .card:hover {
  cursor: pointer;
}
.main .corporate .corporate_icon .card .icon, .main .corporate .operate_icon .card .icon, .main .corporate .usual_icon .card .icon, .main .operate .corporate_icon .card .icon, .main .operate .operate_icon .card .icon, .main .operate .usual_icon .card .icon, .main .usual .corporate_icon .card .icon, .main .usual .operate_icon .card .icon, .main .usual .usual_icon .card .icon {
  /* border: 3px solid #c39b4e; */
  /* background-color: #f8efd9; */
  background-color: #fff;
  /* border: 2px solid #d12027; */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}
.main .corporate .corporate_icon .card .icon .agentFlow, .main .corporate .operate_icon .card .icon .agentFlow, .main .corporate .usual_icon .card .icon .agentFlow, .main .operate .corporate_icon .card .icon .agentFlow, .main .operate .operate_icon .card .icon .agentFlow, .main .operate .usual_icon .card .icon .agentFlow, .main .usual .corporate_icon .card .icon .agentFlow, .main .usual .operate_icon .card .icon .agentFlow, .main .usual .usual_icon .card .icon .agentFlow {
  background: url("../img/agentflow-gold.svg") no-repeat;
  background-position: center;
  width: 100%;
  background-size: 55%;
}
.main .corporate .corporate_icon .card .icon .material-symbols-outlined, .main .corporate .operate_icon .card .icon .material-symbols-outlined, .main .corporate .usual_icon .card .icon .material-symbols-outlined, .main .operate .corporate_icon .card .icon .material-symbols-outlined, .main .operate .operate_icon .card .icon .material-symbols-outlined, .main .operate .usual_icon .card .icon .material-symbols-outlined, .main .usual .corporate_icon .card .icon .material-symbols-outlined, .main .usual .operate_icon .card .icon .material-symbols-outlined, .main .usual .usual_icon .card .icon .material-symbols-outlined {
  margin: auto;
  font-size: 30px;
  color: #c39b4e;
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 48;
}
.main .corporate .corporate_icon .card .card-txt, .main .corporate .operate_icon .card .card-txt, .main .corporate .usual_icon .card .card-txt, .main .operate .corporate_icon .card .card-txt, .main .operate .operate_icon .card .card-txt, .main .operate .usual_icon .card .card-txt, .main .usual .corporate_icon .card .card-txt, .main .usual .operate_icon .card .card-txt, .main .usual .usual_icon .card .card-txt {
  text-align: center;
  font-size: 12px;
  color: #59321d;
  margin: 2px;
}
.main .corporate .corporate_icon .card:hover > .icon .material-symbols-outlined, .main .corporate .operate_icon .card:hover > .icon .material-symbols-outlined, .main .corporate .usual_icon .card:hover > .icon .material-symbols-outlined, .main .operate .corporate_icon .card:hover > .icon .material-symbols-outlined, .main .operate .operate_icon .card:hover > .icon .material-symbols-outlined, .main .operate .usual_icon .card:hover > .icon .material-symbols-outlined, .main .usual .corporate_icon .card:hover > .icon .material-symbols-outlined, .main .usual .operate_icon .card:hover > .icon .material-symbols-outlined, .main .usual .usual_icon .card:hover > .icon .material-symbols-outlined {
  color: #fff;
  font-size: 35px;
  transition: 0.8s;
}
.main .corporate .corporate_icon .card:hover > .icon, .main .corporate .operate_icon .card:hover > .icon, .main .corporate .usual_icon .card:hover > .icon, .main .operate .corporate_icon .card:hover > .icon, .main .operate .operate_icon .card:hover > .icon, .main .operate .usual_icon .card:hover > .icon, .main .usual .corporate_icon .card:hover > .icon, .main .usual .operate_icon .card:hover > .icon, .main .usual .usual_icon .card:hover > .icon {
  background-color: #c39b4e;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  transition: 0.6s;
}
.main .corporate .corporate_icon .card:hover > .icon .agentFlow, .main .corporate .operate_icon .card:hover > .icon .agentFlow, .main .corporate .usual_icon .card:hover > .icon .agentFlow, .main .operate .corporate_icon .card:hover > .icon .agentFlow, .main .operate .operate_icon .card:hover > .icon .agentFlow, .main .operate .usual_icon .card:hover > .icon .agentFlow, .main .usual .corporate_icon .card:hover > .icon .agentFlow, .main .usual .operate_icon .card:hover > .icon .agentFlow, .main .usual .usual_icon .card:hover > .icon .agentFlow {
  background: url("../img/agentflow-white.svg") no-repeat;
  background-position: center;
  transition: 0.6s;
  background-size: 60%;
}
.main .operate {
  background-color: rgba(235, 177, 175, 0.2862745098);
}
.main .operate .operate_icon .card .card-txt {
  color: #9D130A;
}
.main .operate .operate_icon .card .icon .material-symbols-outlined {
  color: #B12E26;
}
.main .operate .operate_icon .card:hover > .icon {
  background-color: #B12E26;
}
.main .usual {
  background-color: rgba(75, 126, 58, 0.2039215686);
}
.main .usual .usual_icon .card .card-txt {
  color: #195604;
}
.main .usual .usual_icon .card .icon .material-symbols-outlined {
  color: #3e6332;
}
.main .usual .usual_icon .card:hover > .icon {
  background-color: #3e6332;
}
.main .corporate_title, .main .operate_title, .main .usual_title {
  font-size: 20px;
  text-align: left;
  margin: 5px;
  margin-left: 15px;
  position: relative;
  color: #59321d;
}
.main .corporate_title::after, .main .operate_title::after, .main .usual_title::after {
  content: "";
  position: absolute;
  bottom: -5px;
  border-bottom: 2px solid #59321d;
  width: 80%;
  left: -5px;
}
.main .operate_title {
  color: #9D130A;
}
.main .operate_title::after {
  border-bottom: 2px solid #9D130A;
}
.main .usual_title {
  color: #195604;
}
.main .usual_title::after {
  border-bottom: 2px solid #195604;
}

@media screen and (min-width: 768px) {
  .logo {
    justify-content: center;
    margin: 10px 0px 20px;
  }
  .logo .logo_deco .circle {
    width: 12px;
    height: 12px;
    margin: 8px;
  }
  .logo .logo_deco .deco_pad {
    display: block;
    display: flex;
  }
  .logo .mos_slogan .logo_img img {
    width: 3rem;
  }
  .logo .mos_slogan .logo_txt h1 {
    font-size: 20px;
    color: #696969;
  }
  .main .corporate .corporate_icon, .main .corporate .operate_icon, .main .corporate .usual_icon, .main .operate .corporate_icon, .main .operate .operate_icon, .main .operate .usual_icon, .main .usual .corporate_icon, .main .usual .operate_icon, .main .usual .usual_icon {
    grid-template-columns: repeat(6, 1fr);
    padding: 10px;
  }
  .main .corporate .corporate_icon .card, .main .corporate .operate_icon .card, .main .corporate .usual_icon .card, .main .operate .corporate_icon .card, .main .operate .operate_icon .card, .main .operate .usual_icon .card, .main .usual .corporate_icon .card, .main .usual .operate_icon .card, .main .usual .usual_icon .card {
    width: 108px;
    height: 108px;
    margin: 10px 0px 50px;
  }
  .main .corporate .corporate_icon .card .icon, .main .corporate .operate_icon .card .icon, .main .corporate .usual_icon .card .icon, .main .operate .corporate_icon .card .icon, .main .operate .operate_icon .card .icon, .main .operate .usual_icon .card .icon, .main .usual .corporate_icon .card .icon, .main .usual .operate_icon .card .icon, .main .usual .usual_icon .card .icon {
    width: 70px;
    height: 70px;
  }
  .main .corporate .corporate_icon .card .icon .material-symbols-outlined, .main .corporate .operate_icon .card .icon .material-symbols-outlined, .main .corporate .usual_icon .card .icon .material-symbols-outlined, .main .operate .corporate_icon .card .icon .material-symbols-outlined, .main .operate .operate_icon .card .icon .material-symbols-outlined, .main .operate .usual_icon .card .icon .material-symbols-outlined, .main .usual .corporate_icon .card .icon .material-symbols-outlined, .main .usual .operate_icon .card .icon .material-symbols-outlined, .main .usual .usual_icon .card .icon .material-symbols-outlined {
    font-size: 40px;
  }
  .main .corporate .corporate_icon .card:hover > .icon .material-symbols-outlined, .main .corporate .operate_icon .card:hover > .icon .material-symbols-outlined, .main .corporate .usual_icon .card:hover > .icon .material-symbols-outlined, .main .operate .corporate_icon .card:hover > .icon .material-symbols-outlined, .main .operate .operate_icon .card:hover > .icon .material-symbols-outlined, .main .operate .usual_icon .card:hover > .icon .material-symbols-outlined, .main .usual .corporate_icon .card:hover > .icon .material-symbols-outlined, .main .usual .operate_icon .card:hover > .icon .material-symbols-outlined, .main .usual .usual_icon .card:hover > .icon .material-symbols-outlined {
    font-size: 45px;
  }
  .main .corporate .corporate_icon .card .card-txt, .main .corporate .operate_icon .card .card-txt, .main .corporate .usual_icon .card .card-txt, .main .operate .corporate_icon .card .card-txt, .main .operate .operate_icon .card .card-txt, .main .operate .usual_icon .card .card-txt, .main .usual .corporate_icon .card .card-txt, .main .usual .operate_icon .card .card-txt, .main .usual .usual_icon .card .card-txt {
    font-size: 16px;
  }
  .main .corporate_title, .main .operate_title, .main .usual_title {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .logo {
    margin: 20px 0px 30px;
  }
  .logo .logo_deco .circle {
    width: 15px;
    height: 15px;
    margin: 10px;
  }
  .logo .logo_deco .deco_pc {
    display: block;
    display: flex;
  }
  .logo .mos_slogan .logo_img img {
    width: 4rem;
  }
  .logo .mos_slogan .logo_txt h1 {
    font-size: 28px;
    color: #696969;
  }
  .logo .mos_slogan .logo_txt span {
    display: block;
    font-size: 12px;
    color: #8b8b8b;
  }
  .main {
    display: flex;
    justify-content: center;
  }
  .main .classifyleft {
    width: 55%;
  }
  .main .classifyright {
    width: 38%;
  }
  .main .classifyright .usual .usual_icon {
    grid-template-columns: repeat(4, 1fr);
  }
  .main .corporate_title, .main .operate_title, .main .usual_title {
    font-size: 28px;
  }
}
@media (min-width: 1440px) {
  .main .classifyleft .corporate .corporate_icon .card, .main .classifyleft .corporate .operate_icon .card, .main .classifyleft .corporate .usual_icon .card, .main .classifyleft .operate .corporate_icon .card, .main .classifyleft .operate .operate_icon .card, .main .classifyleft .operate .usual_icon .card, .main .classifyleft .usual .corporate_icon .card, .main .classifyleft .usual .operate_icon .card, .main .classifyleft .usual .usual_icon .card, .main .classifyright .corporate .corporate_icon .card, .main .classifyright .corporate .operate_icon .card, .main .classifyright .corporate .usual_icon .card, .main .classifyright .operate .corporate_icon .card, .main .classifyright .operate .operate_icon .card, .main .classifyright .operate .usual_icon .card, .main .classifyright .usual .corporate_icon .card, .main .classifyright .usual .operate_icon .card, .main .classifyright .usual .usual_icon .card {
    width: 125px;
    height: 125px;
  }
  .main .classifyleft .corporate .corporate_icon .card .icon, .main .classifyleft .corporate .operate_icon .card .icon, .main .classifyleft .corporate .usual_icon .card .icon, .main .classifyleft .operate .corporate_icon .card .icon, .main .classifyleft .operate .operate_icon .card .icon, .main .classifyleft .operate .usual_icon .card .icon, .main .classifyleft .usual .corporate_icon .card .icon, .main .classifyleft .usual .operate_icon .card .icon, .main .classifyleft .usual .usual_icon .card .icon, .main .classifyright .corporate .corporate_icon .card .icon, .main .classifyright .corporate .operate_icon .card .icon, .main .classifyright .corporate .usual_icon .card .icon, .main .classifyright .operate .corporate_icon .card .icon, .main .classifyright .operate .operate_icon .card .icon, .main .classifyright .operate .usual_icon .card .icon, .main .classifyright .usual .corporate_icon .card .icon, .main .classifyright .usual .operate_icon .card .icon, .main .classifyright .usual .usual_icon .card .icon {
    width: 90px;
    height: 90px;
  }
  .main .classifyleft .corporate .corporate_icon .card .icon .material-symbols-outlined, .main .classifyleft .corporate .operate_icon .card .icon .material-symbols-outlined, .main .classifyleft .corporate .usual_icon .card .icon .material-symbols-outlined, .main .classifyleft .operate .corporate_icon .card .icon .material-symbols-outlined, .main .classifyleft .operate .operate_icon .card .icon .material-symbols-outlined, .main .classifyleft .operate .usual_icon .card .icon .material-symbols-outlined, .main .classifyleft .usual .corporate_icon .card .icon .material-symbols-outlined, .main .classifyleft .usual .operate_icon .card .icon .material-symbols-outlined, .main .classifyleft .usual .usual_icon .card .icon .material-symbols-outlined, .main .classifyright .corporate .corporate_icon .card .icon .material-symbols-outlined, .main .classifyright .corporate .operate_icon .card .icon .material-symbols-outlined, .main .classifyright .corporate .usual_icon .card .icon .material-symbols-outlined, .main .classifyright .operate .corporate_icon .card .icon .material-symbols-outlined, .main .classifyright .operate .operate_icon .card .icon .material-symbols-outlined, .main .classifyright .operate .usual_icon .card .icon .material-symbols-outlined, .main .classifyright .usual .corporate_icon .card .icon .material-symbols-outlined, .main .classifyright .usual .operate_icon .card .icon .material-symbols-outlined, .main .classifyright .usual .usual_icon .card .icon .material-symbols-outlined {
    font-size: 50px;
  }
  .main .classifyleft .corporate .corporate_icon .card:hover > .icon .material-symbols-outlined, .main .classifyleft .corporate .operate_icon .card:hover > .icon .material-symbols-outlined, .main .classifyleft .corporate .usual_icon .card:hover > .icon .material-symbols-outlined, .main .classifyleft .operate .corporate_icon .card:hover > .icon .material-symbols-outlined, .main .classifyleft .operate .operate_icon .card:hover > .icon .material-symbols-outlined, .main .classifyleft .operate .usual_icon .card:hover > .icon .material-symbols-outlined, .main .classifyleft .usual .corporate_icon .card:hover > .icon .material-symbols-outlined, .main .classifyleft .usual .operate_icon .card:hover > .icon .material-symbols-outlined, .main .classifyleft .usual .usual_icon .card:hover > .icon .material-symbols-outlined, .main .classifyright .corporate .corporate_icon .card:hover > .icon .material-symbols-outlined, .main .classifyright .corporate .operate_icon .card:hover > .icon .material-symbols-outlined, .main .classifyright .corporate .usual_icon .card:hover > .icon .material-symbols-outlined, .main .classifyright .operate .corporate_icon .card:hover > .icon .material-symbols-outlined, .main .classifyright .operate .operate_icon .card:hover > .icon .material-symbols-outlined, .main .classifyright .operate .usual_icon .card:hover > .icon .material-symbols-outlined, .main .classifyright .usual .corporate_icon .card:hover > .icon .material-symbols-outlined, .main .classifyright .usual .operate_icon .card:hover > .icon .material-symbols-outlined, .main .classifyright .usual .usual_icon .card:hover > .icon .material-symbols-outlined {
    font-size: 55px;
  }
  .main .classifyleft .corporate .corporate_icon .card .card-txt, .main .classifyleft .corporate .operate_icon .card .card-txt, .main .classifyleft .corporate .usual_icon .card .card-txt, .main .classifyleft .operate .corporate_icon .card .card-txt, .main .classifyleft .operate .operate_icon .card .card-txt, .main .classifyleft .operate .usual_icon .card .card-txt, .main .classifyleft .usual .corporate_icon .card .card-txt, .main .classifyleft .usual .operate_icon .card .card-txt, .main .classifyleft .usual .usual_icon .card .card-txt, .main .classifyright .corporate .corporate_icon .card .card-txt, .main .classifyright .corporate .operate_icon .card .card-txt, .main .classifyright .corporate .usual_icon .card .card-txt, .main .classifyright .operate .corporate_icon .card .card-txt, .main .classifyright .operate .operate_icon .card .card-txt, .main .classifyright .operate .usual_icon .card .card-txt, .main .classifyright .usual .corporate_icon .card .card-txt, .main .classifyright .usual .operate_icon .card .card-txt, .main .classifyright .usual .usual_icon .card .card-txt {
    font-size: 18px;
  }
}
@media (min-width: 1920px) {
  .main .classifyleft .corporate .corporate_icon .card, .main .classifyleft .corporate .operate_icon .card, .main .classifyleft .corporate .usual_icon .card, .main .classifyleft .operate .corporate_icon .card, .main .classifyleft .operate .operate_icon .card, .main .classifyleft .operate .usual_icon .card, .main .classifyleft .usual .corporate_icon .card, .main .classifyleft .usual .operate_icon .card, .main .classifyleft .usual .usual_icon .card, .main .classifyright .corporate .corporate_icon .card, .main .classifyright .corporate .operate_icon .card, .main .classifyright .corporate .usual_icon .card, .main .classifyright .operate .corporate_icon .card, .main .classifyright .operate .operate_icon .card, .main .classifyright .operate .usual_icon .card, .main .classifyright .usual .corporate_icon .card, .main .classifyright .usual .operate_icon .card, .main .classifyright .usual .usual_icon .card {
    width: 140px;
    height: 140px;
  }
  .main .classifyleft .corporate .corporate_icon .card .icon, .main .classifyleft .corporate .operate_icon .card .icon, .main .classifyleft .corporate .usual_icon .card .icon, .main .classifyleft .operate .corporate_icon .card .icon, .main .classifyleft .operate .operate_icon .card .icon, .main .classifyleft .operate .usual_icon .card .icon, .main .classifyleft .usual .corporate_icon .card .icon, .main .classifyleft .usual .operate_icon .card .icon, .main .classifyleft .usual .usual_icon .card .icon, .main .classifyright .corporate .corporate_icon .card .icon, .main .classifyright .corporate .operate_icon .card .icon, .main .classifyright .corporate .usual_icon .card .icon, .main .classifyright .operate .corporate_icon .card .icon, .main .classifyright .operate .operate_icon .card .icon, .main .classifyright .operate .usual_icon .card .icon, .main .classifyright .usual .corporate_icon .card .icon, .main .classifyright .usual .operate_icon .card .icon, .main .classifyright .usual .usual_icon .card .icon {
    width: 120px;
    height: 120px;
  }
  .main .classifyleft .corporate .corporate_icon .card .icon .material-symbols-outlined, .main .classifyleft .corporate .operate_icon .card .icon .material-symbols-outlined, .main .classifyleft .corporate .usual_icon .card .icon .material-symbols-outlined, .main .classifyleft .operate .corporate_icon .card .icon .material-symbols-outlined, .main .classifyleft .operate .operate_icon .card .icon .material-symbols-outlined, .main .classifyleft .operate .usual_icon .card .icon .material-symbols-outlined, .main .classifyleft .usual .corporate_icon .card .icon .material-symbols-outlined, .main .classifyleft .usual .operate_icon .card .icon .material-symbols-outlined, .main .classifyleft .usual .usual_icon .card .icon .material-symbols-outlined, .main .classifyright .corporate .corporate_icon .card .icon .material-symbols-outlined, .main .classifyright .corporate .operate_icon .card .icon .material-symbols-outlined, .main .classifyright .corporate .usual_icon .card .icon .material-symbols-outlined, .main .classifyright .operate .corporate_icon .card .icon .material-symbols-outlined, .main .classifyright .operate .operate_icon .card .icon .material-symbols-outlined, .main .classifyright .operate .usual_icon .card .icon .material-symbols-outlined, .main .classifyright .usual .corporate_icon .card .icon .material-symbols-outlined, .main .classifyright .usual .operate_icon .card .icon .material-symbols-outlined, .main .classifyright .usual .usual_icon .card .icon .material-symbols-outlined {
    font-size: 70px;
  }
  .main .classifyleft .corporate .corporate_icon .card:hover > .icon .material-symbols-outlined, .main .classifyleft .corporate .operate_icon .card:hover > .icon .material-symbols-outlined, .main .classifyleft .corporate .usual_icon .card:hover > .icon .material-symbols-outlined, .main .classifyleft .operate .corporate_icon .card:hover > .icon .material-symbols-outlined, .main .classifyleft .operate .operate_icon .card:hover > .icon .material-symbols-outlined, .main .classifyleft .operate .usual_icon .card:hover > .icon .material-symbols-outlined, .main .classifyleft .usual .corporate_icon .card:hover > .icon .material-symbols-outlined, .main .classifyleft .usual .operate_icon .card:hover > .icon .material-symbols-outlined, .main .classifyleft .usual .usual_icon .card:hover > .icon .material-symbols-outlined, .main .classifyright .corporate .corporate_icon .card:hover > .icon .material-symbols-outlined, .main .classifyright .corporate .operate_icon .card:hover > .icon .material-symbols-outlined, .main .classifyright .corporate .usual_icon .card:hover > .icon .material-symbols-outlined, .main .classifyright .operate .corporate_icon .card:hover > .icon .material-symbols-outlined, .main .classifyright .operate .operate_icon .card:hover > .icon .material-symbols-outlined, .main .classifyright .operate .usual_icon .card:hover > .icon .material-symbols-outlined, .main .classifyright .usual .corporate_icon .card:hover > .icon .material-symbols-outlined, .main .classifyright .usual .operate_icon .card:hover > .icon .material-symbols-outlined, .main .classifyright .usual .usual_icon .card:hover > .icon .material-symbols-outlined {
    font-size: 75px;
  }
  .main .classifyleft .corporate .corporate_icon .card .card-txt, .main .classifyleft .corporate .operate_icon .card .card-txt, .main .classifyleft .corporate .usual_icon .card .card-txt, .main .classifyleft .operate .corporate_icon .card .card-txt, .main .classifyleft .operate .operate_icon .card .card-txt, .main .classifyleft .operate .usual_icon .card .card-txt, .main .classifyleft .usual .corporate_icon .card .card-txt, .main .classifyleft .usual .operate_icon .card .card-txt, .main .classifyleft .usual .usual_icon .card .card-txt, .main .classifyright .corporate .corporate_icon .card .card-txt, .main .classifyright .corporate .operate_icon .card .card-txt, .main .classifyright .corporate .usual_icon .card .card-txt, .main .classifyright .operate .corporate_icon .card .card-txt, .main .classifyright .operate .operate_icon .card .card-txt, .main .classifyright .operate .usual_icon .card .card-txt, .main .classifyright .usual .corporate_icon .card .card-txt, .main .classifyright .usual .operate_icon .card .card-txt, .main .classifyright .usual .usual_icon .card .card-txt {
    font-size: 24px;
  }
  .main .corporate_title, .main .operate_title, .main .usual_title {
    font-size: 30px;
  }
}/*# sourceMappingURL=style.css.map */